<!doctype html>
<html>
<head>
    <link href="/static/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class="container">
    {% if data %}
        <h1> Box {{ident}} </h1>

        <h3>
            Owner: {{data.owner}}
            (<a href="mailto:{{data.email}}">
                {{data.email}}
            </a>)
        </h3>

        <h3>
            Telephone:
            {{ data.telephone }}
        </h3>

        <img src="/box/qr/{{ident}}" alt="box qrcode">

        <p>
            Or the url:
            <a href="http://{{host}}/box/details/{{ident}}">
                http://{{host}}/box/details/{{ident}}
            </a>
        </p>
    {% else %}
        <h1>Unknown Box `{{ ident }}`, sorry</h1>
    {% endif %}
</div>

</body>
</html>
