<!doctype html>
<html>
<head>
    <link href="/static/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class="hero-unit">
    <h1>Generate QR-Code <font color="red">BETA</font> </h1>

    <p>Add your project or box and generate a fancy QR Code</p>
</div>
<div class="container">

    <form method="POST" action="/publish" class="form-horizontal">
        <div class="control-group">
            <label class="control-label">Owner</label>

            <div class="controls">
                <input type="text" id="owner-name" name="owner-name">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">E-Mail</label>

            <div class="controls">
                <input type="text" id="owner-email" name="owner-email">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Twitter (optional)</label>

            <div class="controls">
                <input type="text" id="owner-twitter" name="owner-twitter">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Telephone (optional)</label>

            <div class="controls">
                <input type="text" id="owner-telephone" name="owner-telephone">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Typ</label>

            <div class="controls">
                <label class="radio">Projekt
                    <input type="radio" name="item-type" id="item-type-project" value="item-type-project">
                </label>
                <label class="radio">Box
                    <input type="radio" name="item-type" id="item-type-box" value="item-type-box" checked>
                </label>
            </div>
        </div>
        <div id="item-details">
            <div class="control-group">
                <label class="control-label">URL (in shack-Wiki)</label>

                <div class="controls">
                    <input type="text" id="wiki-url" name="wiki-url">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Freetext</label>

                <div class="controls">
                    <textarea rows="3" cols="40" id="freetext" name="freetext"></textarea>
                </div>
            </div>
        </div>
        <div class="controls">
            <input type="submit" class="btn btn-primary btn-large" id="submit-button" value="Generatorisieren">
        </div>
    </form>
</div>
<script type="text/javascript" src="/static/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/static/index.js"></script>
</body>
</html>
